<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Hello</title>
	<style>
		body {
			background-color: skyblue;
			padding: 30px;
		}
	</style>
</head>

<body>
	<h1>Welcome to profile of user id
		<%= data.person %>
	</h1>
	<p>Your name is:
		<%= data.name %> and your email is:
			<%= data.email %>
	</p>
</body>

</html>